
*.pbxproj

*.xcscheme

Project/LSSwipeToDeleteCollectionViewLayout.xcodeproj/xcuserdata/chemamon.xcuserdatad/xcschemes/xcschememanagement.plist

*.xccheckout

*.xcuserstate

Project/Pods/Pods.xcodeproj/xcuserdata/chemamon.xcuserdatad/xcschemes/xcschememanagement.plist

Project/LSSwipeToDeleteCollectionViewLayout.xcodeproj/project.pbxproj

Project/LSSwipeToDeleteCollectionViewLayout.xcodeproj/project.pbxproj

Project/LSSwipeToDeleteCollectionViewLayout.xcodeproj/project.pbxproj
